<!DOCTYPE html>
<html class="no-js">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>demo-vuejs</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <div id="root" class="container">
    <ul>
      <li v-for="name in names"> {{name}} </li> <!--or <li v-for="name in names" v-text="name"></li> -->
      <li>{{ reverseString }}</li>
      <input id="inputText" type="text" v-model="newName">
      <button id="newUser" v-on:click="addName">Add user</button> <!-- or @:click="addName" -->
    </ul>
  </div>
  <script type="text/javascript" src="https://unpkg.com/vue@2.4.2"></script>
  <script src="main.js"></script>
</body>

</html>